<div>
  <h1 class="text-center">新規タスク</h1>
  
  <%= render "form", task: @task %>

  <div class="text-center">
    <%= link_to "タスク一覧へ戻る", user_tasks_path, class: "btn btn-warning m-3" %>
  </div>
</div>
